!
{%- for interface in interfaces %}
interface {{ interface.interface }}
  description {{ interface.description | default("NO DESCRIPTION") }}
  ip address {{ interface.ip_address }} {{ interface.subnetmask }}
  {%- if interface.enabled == true %}
  no shutdown
  {%- endif %}
!
{%- endfor %}
!
